@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Kodchasan:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Kodchasan', sans-serif;
}

/* `cursor-pointer font-montserrat text-[14px] mb-2 hover:scale-125 transition-all duration-200 ease-in-out ` */

.blue-grad{
  background: linear-gradient(180deg, #778DA9 0%, rgba(65, 90, 119, 0.62) 53.65%, rgba(27, 38, 59, 0.66) 100%);

}
.babylonica{
  font-family: 'Babylonica', sans-serif;
}
.babybg{
  background-image: url("/public/images/baby-step-1.png");
}

.nav-links .inactive{
  position: relative;
}
.nav-links .inactive::before{
content: '';
width: 100%;  
height: 1px;
background: white;
display: none;
position: absolute;
right: 0;
bottom: -2px;
}
.nav-links .inactive:hover::before {
  display: block;
}


.nav-links .active{
  position: relative;
  margin-bottom: 12px;
}
.nav-links .active::before{
content: '';
width: 100%;  
height: 1px;
background: white;
position: absolute;
right: 0;
bottom: -2px;

}

.nav-links .inactive:hover::before {
  display: block;
}


